@inject MessageService _message

<div class="tag-colorful-demo">
    <Tag PresetColor="@PresetColor.Magenta">magenta</Tag>
    <Tag PresetColor="@PresetColor.Pink">pink</Tag>
    <Tag PresetColor="@PresetColor.Red">red</Tag>
    <Tag PresetColor="@PresetColor.Volcano">volcano</Tag>
    <Tag PresetColor="@PresetColor.Orange">orange</Tag>
    <Tag PresetColor="@PresetColor.Green">green</Tag>
    <Tag PresetColor="@PresetColor.Cyan">cyan</Tag>
    <Tag PresetColor="@PresetColor.Blue">blue</Tag>
    <Tag PresetColor="@PresetColor.Lime">lime</Tag>
    <Tag PresetColor="@PresetColor.GeekBlue">geekblue</Tag>
    <Tag PresetColor="@PresetColor.Purple">purple</Tag>
    <Tag PresetColor="@PresetColor.Yellow">yellow</Tag>
    <Tag PresetColor="@PresetColor.Gold">gold</Tag>

    @foreach(var item in _tags)
    {
        <Tag PresetColor="@(colors[@item.Color])" OnClick="()=>SearchTag(item.Name)">@item.Name</Tag>
    }
</div>
<style>
    .tag-colorful-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}

    .tag-colorful-demo{
        margin-top: 10px;
    }
</style>
@code {
    static PresetColor[] colors = { 
        PresetColor.Blue, 
        PresetColor.Pink,
        PresetColor.Magenta,
        PresetColor.Volcano,
        PresetColor.Orange,
        PresetColor.Green,
        PresetColor.Cyan,
        PresetColor.Lime,
        PresetColor.GeekBlue,
        PresetColor.Purple,
        PresetColor.Yellow,
        PresetColor.Gold
    };

    private readonly TagItem[] _tags =
    {
        new TagItem
        {
            Name = "C语言"
        },
        new TagItem
        {
            Name = "Java"
        },
        new TagItem
        {
            Name = "CSharp"
        },
        new TagItem
        {
            Name = "数据结构"
        },
        new TagItem
        {
            Name = "Rust"
        },
        new TagItem
        {
            Name = "Iot Plantform"
        },
        new TagItem
        {
            Name = "MQTT"
        },
        new TagItem
        {
            Name = "Kafka"
        },
    };

    public class TagItem
    {
        public string Name{ get; set; }

        public int Color { get; init; } = new Random().Next(0, colors.Length);
    }


    private void SearchTag(string name)
    {
        _message.Success($"您选取的标签: {name}");
    }
}
