<div class="tag-colorful-demo">
    <Tag PresetColor="@PresetColor.Magenta">magenta</Tag>
    <Tag PresetColor="@PresetColor.Pink">pink</Tag>
    <Tag PresetColor="@PresetColor.Red">red</Tag>
    <Tag PresetColor="@PresetColor.Volcano">volcano</Tag>
    <Tag PresetColor="@PresetColor.Orange">orange</Tag>
    <Tag PresetColor="@PresetColor.Green">green</Tag>
    <Tag PresetColor="@PresetColor.Cyan">cyan</Tag>
    <Tag PresetColor="@PresetColor.Blue">blue</Tag>
    <Tag PresetColor="@PresetColor.Lime">lime</Tag>
    <Tag PresetColor="@PresetColor.GeekBlue">geekblue</Tag>
    <Tag PresetColor="@PresetColor.Purple">purple</Tag>
    <Tag PresetColor="@PresetColor.Yellow">yellow</Tag>
    <Tag PresetColor="@PresetColor.Gold">gold</Tag>
</div>
<style>
    .tag-colorful-demo > * {
		margin-bottom: 12px;
		margin-right: 8px;
	}

    .tag-colorful-demo{
        margin-top: 10px;
    }
</style>
@code {

}
